div.card{
    background-color: #f9683a;
    width: 95%;
    text-align: center;
    bottom: 100px;
    top: 5px;
}
div.MuiGrid-root{
    color: #fafafa;
    font-family: "Helvetica";
    font-weight: bold;
    width: 100%;

}
img.MuiCardMedia-root{
    width: 500px;
    height: 250px;

}
div.MuiPaper-root {
    position:relative;
    margin: 15px;
    width: 31%;
}