div.card{
    background-color: #f9683a;
    text-align: center;
    bottom: 100px;
    top: 5px;
}
div.MuiGrid-root{
    color: #fafafa;
    font-family: "Helvetica";
    font-weight: bold;

}
img.MuiCardMedia-root{
    width: 423px;
    height: 250px;
    right: 500px;

}
div.MuiPaper-root {
    position:relative;
    margin: 15px;
    width: 31%;
}