h4{
    font-size: small;
}
.finalizado{
    top: -2000%;
    left: -2000%;
    position: absolute;
    font-size: 0%;
}
h3{
    background-color: #f9683a;
    color: #000000 ;
    font-family: Helvetica;
    font-style: italic;
    width: auto;
}
