h4 {
    font-size: small;
}
.finalizado {
    top: -2000%;
    left: -2000%;
    position: absolute;
    font-size: 0%;
}
h3 {
    font-family: Helvetica;
    font-style: italic;
    width: auto;
}

.container2 {
    margin-top: 10px;
}
