.footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: Helvetica;

  }
  
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer-info__name, .footer-info__number {
    margin-bottom: 10px;
    
  }
  .footer-info__email{
    margin-bottom: 10px;
    font-size: large;

  }
  
  .footer-info__name, .footer-info__returns {
    text-align: start;
    font-size: medium;
  }
  
  .footer-info__email, .footer-info__terms {
    text-align: center;
  }
  
  .footer-info__number, .footer-info__contact {
    text-align: end;
    font-size: medium;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator {
    flex-grow: 1;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 3px;
    background-color: black;
    width: 95%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }