div.slidesProductos{
    max-width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0 , 0, 0.19);
    margin-bottom: 35px;
    display: flex;
}

div.p{
    color: black;
}
div.h3{
    background-color: brown;
    color: black ;
    font-family: fantasy;
}