
div.FatherUbication{
    background-color : #79bcff;
    position: relative;
    width: 95%;
    height: 150%;
    border-radius: 8% 8% 4% 4%;
    align-items: center;
    left: 2.5%;
    box-shadow: 5px;

    
}
h2.tituloUbication{
    background-color: cadetblue;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: #00458a;
    border-radius: 16% 16% 0 0;
    max-width: 100%;
    
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(36, 36, 36);
}
iframe{
    border-radius: 4%;
}