div.inicio{
    /* width: 350 */
    width: 400px; 
    height: 100px;
    overflow: hidden;
    margin: -40px;
    position: relative;
    max-height: 10%;
    
}
span.product{
    
}

img.iconoNavbar{
    position:absolute;
    left: -30%;
    right: -35%;
    top: -25%;
    bottom: -80%;
    margin: auto;
    min-height: 20%;
    min-width: 10%;
    max-width: 90%;
    
}

div.dropd{
    margin-bottom: -10%;
}

.links{
    display: inline;
}

div.active{
    min-height: 185px;
    
}
span.navDer2{
    display: inline-block;
    vertical-align: middle;
    padding: 0.3cm;
    

}