div.inicio{
    /* width: 350 */
    width: 400px; 
    height: 100px;
    overflow: hidden;
    margin: -40px;
    position: relative;
    max-height: 10%;
    
}

img.iconoNavbar{
    position:absolute;
    left: -30%;
    right: -35%;
    top: -25%;
    bottom: -80%;
    margin: auto;
    min-height: 20%;
    min-width: 10%;
    max-width: 90%;
    
}